.filters {
    &__label-list {
        @apply flex flex-row flex-wrap gap-2 items-center justify-center;
    }

    &__label-item {
        @apply cursor-pointer;
    }

    &__colors {
       @apply flex flex-row flex-wrap items-center gap-2;
    }

    &__btn-clear {
       @apply w-3 h-3 text-red-700 -ml-6;
    }
}
