{
  "extends": [
    "airbnb/base",
    "airbnb-typescript/base",
    "plugin:vue/vue3-recommended",
    "@nuxtjs/eslint-config-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier"
  ],
  "parser": "vue-eslint-parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "ignorePatterns": ["package.json", "postcss.config.js","tailwind.config.js", "vendor/"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"],
    "parser": {
      "ts": "@typescript-eslint/parser",
      "<template>": "espree"
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": ["error", { "allow": ["info","warn", "error"] }]
  }
}
