<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php"
         backupGlobals="false" colors="true" stderr="false" cacheDirectory=".cache/phpunit"
         backupStaticProperties="false">
    <php>
        <env name="BROADCAST_CONNECTION" value="in-memory"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="QUEUE_DEFAULT_CONNECTION" value="sync"/>
        <env name="CACHE_STORAGE" value="array"/>
        <env name="CACHE_DEFAULT_STORAGE" value="array"/>
        <env name="CYCLE_SCHEMA_CACHE" value="true"/>
        <env name="DB_LOG_QUERY_PARAMETERS" value="true"/>
        <env name="TOKENIZER_CACHE_TARGETS" value="true"/>
        <env name="APP_ENV" value="testing"/>
        <env name="PERSISTENCE_DRIVER" value="memory"/>
        <env name="MONOLOG_DEFAULT_CHANNEL" value="stdout"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Feature tests">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile=".cache/phpunit/report.junit.xml"/>
    </logging>
    <coverage>
        <report>
            <html outputDirectory=".cache/coverage"/>
            <text outputFile=".cache/coverage.txt"/>
            <clover outputFile=".cache/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>
