.auth {
  @apply h-screen flex items-center justify-center py-12;
  &__wrap {
    @apply max-w-sm w-full space-y-8;
  }

  &__icon-wrap {
    @apply flex flex-col items-center;
  }

  &__icon {
    @apply fill-current w-2/3 text-blue-800 dark:text-white;
  }

  &__icon-text {
    @apply mt-6 text-2xl text-muted font-bold;
  }

  &__form {
    @apply mt-8 space-y-6;
  }

  &__error-wrap {
    @apply bg-gray-50 border p-5;
  }

  &__error-text {
    @apply font-bold text-red-600;
  }

  &__error-list {
    @apply mt-3 list-disc list-inside text-sm text-red-600;
  }

  &__input {
    @apply appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  font-bold focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm;
  }

  &__submit-wrap {
    @apply flex items-center;
  }

  &__submit-btn {
    @apply relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

  &__checkbox-wrap {
    @apply flex items-center ml-5;
  }

  &__checkbox {
    @apply h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300;
  }

  &__checkbox-label {
    @apply ml-2 block text-sm text-muted;
  }
}
