.screens {
    @apply flex flex-col md:flex-row px-4 py-2 space-y-2 md:space-y-0 md:justify-between items-center bg-gray-100 dark:bg-gray-800;

    &__title {
        @apply font-bold flex space-x-2 items-center;
    }

    &__nav {
        @apply flex gap-2 items-center justify-center;
    }

    &__screen-current {
        @apply h-4 w-4 border-2 border-style dark:bg-black rounded;
    }

    &__screen {
        @apply w-4 h-4 cursor-pointer text-blue-400 dark:text-gray-600 transition-colors;

        &:hover {
            @apply text-blue-700 dark:text-gray-100;
        }
    }

    &__btn-new {
        @apply w-4 h-4 flex text-xs font-bold items-center justify-center cursor-pointer text-gray-400 transition-colors dark:text-gray-500;

        &:hover {
            @apply text-gray-600 dark:text-gray-300;
        }
    }
}
