.json-chip {
    @apply font-bold px-2 rounded-full text-2xs inline-flex items-center transition-colors text-blue-700 bg-blue-100 border  hover:bg-blue-700 hover:text-white;
}
.download-chip {
  @apply json-chip cursor-pointer;
}
