.tab {
    &__wrap {
        @apply flex flex-col;
    }

    &__btn {
        @apply px-4 py-2 font-bold text-responsive;
    }

    &__thumb {
        @apply h-1 rounded-t;

        &.selected {
            @apply bg-blue-500 dark:bg-blue-100;
        }
    }
}
