@mixin text-muted {
  @apply text-gray-600 dark:text-gray-400;
}

@mixin border-style {
  @apply border-gray-300 dark:border-gray-500 divide-gray-300 dark:divide-gray-500;
}

@mixin text-responsive {
  @apply text-2xs sm:text-xs md:text-sm lg:text-base;
}

@mixin border-style {
  @apply border-gray-300 dark:border-gray-500 divide-gray-300 dark:divide-gray-500;
}

@mixin loading {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-40px, -40px);

    & div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: currentColor;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
