.tabs-component {
}

.tabs-component-tabs {
  @apply flex border-b border-gray-300 dark:border-gray-400 divide-gray-300 dark:divide-gray-400;
}

.tabs-component-tab {
  @apply flex pr-4 text-xs sm:text-sm md:text-base;
}

.tabs-component-tab-a {
  @apply cursor-pointer p-3 text-gray-600 dark:text-gray-400;
}

.tabs-component-tab-a.is-active {
  @apply border-b border-b-4 border-gray-300 dark:border-gray-400 font-bold text-gray-900 dark:text-gray-200;
}

.tabs-component-panels {
  @apply mt-5 flex flex-col mt-3;
}
