on:
  pull_request: null
  workflow_call:
    inputs:
      extensions:
        description: List of extensions to PHP.
        default: sockets
        required: false
        type: string
      ini-values:
        description: Initial values for PHP configuration.
        default: memory_limit=-1
        required: false
        type: string
      os:
        description: Os to test, separated by comma.
        required: true
        type: string
      php:
        description: PHP versions to test, separated by comma.
        default: '["8.1","8.2","8.3"]'
        required: false
        type: string
      stability:
        description: Stability to test, separated by comma.
        required: true
        type: string
      tools:
        description: Tools to test, separated by comma.
        default: composer:v2
        required: false
        type: string
  push:
    branches:
      - '*.*'

name: Rector

jobs:
  rector:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}, ${{ matrix.stability }})

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        php: ${{ fromJson(inputs.php) }}
        os: ${{ fromJson(inputs.os) }}
        stability: ${{ fromJson(inputs.stability) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure environment
        run: |
          export COMPOSER_ROOT_VERSION=$(/usr/bin/jq --null-input --raw-output 'first(inputs["extra"]["branch-alias"])[]' composer.json)
          echo COMPOSER_ROOT_VERSION=$COMPOSER_ROOT_VERSION >> $GITHUB_ENV

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          # PHP Extras
          extensions: ${{ inputs.extensions }}
          coverage: ${{ matrix.coverage }}
          tools: pecl
          ini-values: ${{ matrix.ini-values }}

      - name: Validate Composer
        run: composer validate

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Restore Composer Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-${{ matrix.php }}-composer

      - name: Install Dependencies
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 5
          command: composer install --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

      # Execution
      - name: Execute Tests
        run: vendor/bin/rector process
